html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
}

#modal {
    position: absolute;
    top: -100px;
    transition: top 1s ease, background-color 1s ease;
}
#modal.modal {
    width: 100%;
    height: 70vh;
    background-color: green;
    top: 100px;
    z-index: 900;
}

h1 {
    text-align: center;
}

#playground {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 100vh;
}

#player-section, #computer-section {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-images img {
    height: 25vh;
    width: auto;
    transition: all 1s ease;
}

.choice-images img:hover {
    cursor: pointer;
}

.playing {
    transform: scale(1.1);
}


  

